<div id="login-form">
  <mat-card>
    <mat-card-title>
      <h1>Enter Your Credentials</h1>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select formControlName="username">
            <mat-option *ngFor="let user of allUsers" [value]="user.username">{{ user.username }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            placeholder="Password"
            type="password"
            formControlName="password"
          />
        </mat-form-field>
        <p *ngIf="!loading && error != ''">{{ error | uppercase }}</p>
        <button
          mat-raised-button
          [disabled]="form.invalid"
          color="primary"
          type="submit"
        >
          <mat-icon>key</mat-icon>
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
